# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.env.local
.venv/
venv/
env/

# Testing & Linters
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# OS & Editors
.vscode/
.idea/
.DS_Store
Thumbs.db
